* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url(../images/bg/2-layers.png) center center/cover no-repeat;
    padding: 39px 0 62px;  
}

.logo .logo-img {
    display: block;
    margin: 0 auto;
}

.logo .logo-text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

 .simple .title-big {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo-text {
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto - Light";
    font-weight: 300;
    text-align: center;
    margin-top: 23px;
    padding: 0 13px;
}

.promo .promo-text span {
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700;
    text-transform: uppercase;
}

.promo .promo-btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.more {
    margin-top: 73px;
}

.more .more-text {
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more-img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px;
}

.waiting .waiting-header, 
.finish .finish-header,
.firstweb .firstweb-header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish-header {
    color: #efefef;
}

.waiting .waiting-divider, .finish .finish-divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting-subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting-wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting-wrapper .waiting-item {
    width: 339px;
    text-align: center;
}

.waiting .waiting-wrapper .waiting-item .waiting-descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;

}

.optimization .optimization-header {
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 39px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization-text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    /* Text style for "На простор" */
    font-family: "Roboto - Light";
    font-weight: 300;
}

.optimization .optimization-text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization-img {
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background-image: url(../images/bg/Layer\ 33.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.finish .finish-wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish-wrapper .finish-item {
    width: 204px;
}

.finish .finish-wrapper .finish-round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish-wrapper .finish-item .finish-descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.surp {
    padding: 86px 0 87px;
    min-height: 628px;
    background-color: #efefef;
}

.surp .surp-wrapper,
.firstweb .firstweb-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.surp .surp-text {
    margin-top: 42px;
    width: 1131px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}

.surp .surp-button {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.firstweb {
    padding: 80px 0 64px;
    min-height: 515px;
}

.firstweb .firstweb-header {
    margin-top: 37px;
}

.firstweb .firstweb-text1 {
    margin-top: 30px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}

.firstweb .firstweb-text2 {
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
}

.footer {
    padding: 61px 0 69px;
    min-height: 166px;
    background-color: #1a1a1a;
    text-align: center;
}

.footer-link,
.footer-callus {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: underline;
}

.footer-callus {
    text-decoration: none;
}

.footer-link__after::after {
    content: "  |  ";
}

